@charset "utf-8";
.container {
	display: flex;  or inline-flex
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center ;
}

/*Mobile S */
@media screen and (max-width: 320px) {

	nav h1 a {
		font-size: 20pt;
	}
	nav{
		height:85px;
	}
	/* ====================== Restaurant Filtering ====================== */
	.filter-options {
		height: 165px;
		display:flex;
		flex-direction: column;
	}
	.filter-options h2 {
		font-size: 1.5rem;
		font-weight: 200;
		line-height: 1.5;
		white-space: nowrap;
	}
	.filter-options select {
		height: 40px;
		width: 90%;
	}

	#restaurants-list li h1 {
	  font-size: 20pt;
	}
	#restaurants-list li {
	  width: 100%;
		margin: 0 0 15px 0;
	  padding: 5px;
	}

	#restaurants-list li a {
	  display: block;
	  margin: 0;
	  max-width: 100%;
		border:none;
	}

	.inside #map-container {
		height: 300px;
  	top: 135px;
		width: 100%;
		position:relative;
		z-index: 1;
	}

	.inside #footer {
		width: 100%;
	}

	#restaurant-name {
		font-size: 20pt;
		font-weight: 200;
		margin-top: 65px ;
	}

	#restaurant-container, #reviews-container {
		width: 100%;
		padding: 140px 0px 30px;
	}
	#breadcrumb {
			width: 100%;
	}

	#restaurant-cuisine {
		width: 100%;
	}

	#restaurant-img {
		width: 100%;
	}
}
/*Mobile M */
@media screen and (min-width: 321px) and (max-width: 375px) {

  nav h1 a {
  	font-size: 20pt;
  }
  nav{
  	height:85px;
  }
  /* ====================== Restaurant Filtering ====================== */
  .filter-options {
  	height: 165px;
  	display:flex;
  	flex-direction: column;
  }
  .filter-options h2 {
  	font-size: 1.5rem;
  	font-weight: 200;
  	line-height: 1.5;
  	white-space: nowrap;
  }
  .filter-options select {
  	height: 40px;
  	width: 90%;
  }

  #restaurants-list li h1 {
    font-size: 20pt;
  }
  #restaurants-list li {
    width: 100%;
  	margin: 0 0 15px 0;
    padding: 5px;
  }

  #restaurants-list li a {
    display: block;
    margin: 0;
    max-width: 100%;
  	border:none;
  }

  .inside #map-container {
  	height: 300px;
  	top: 135px;
  	width: 100%;
  	position:relative;
  	z-index: 1;
  }

  .inside #footer {
  	width: 100%;
  }

  #restaurant-name {
  	font-size: 20pt;
  	font-weight: 200;
  	margin-top: 65px ;
  }

  #restaurant-container, #reviews-container {
  	width: 100%;
		padding: 140px 0px 30px;
  }
  #breadcrumb {
  		width: 100%;
  }

	#restaurant-cuisine {
		width: 100%;
	}

	#restaurant-img {
		width: 100%;
	}
}
/*Mobile L */
@media screen and (min-width: 376px) and (max-width: 425px) {

		nav h1 a {
			font-size: 20pt;
		}
		nav{
			height:85px;
		}
		/* ====================== Restaurant Filtering ====================== */
		.filter-options {
			height: 165px;
			display:flex;
			flex-direction: column;
		}
		.filter-options h2 {
			font-size: 1.5rem;
			font-weight: 200;
			line-height: 1.5;
			white-space: nowrap;
		}
		.filter-options select {
			height: 40px;
			width: 90%;
		}

		#restaurants-list li h1 {
		  font-size: 20pt;
		}
		#restaurants-list li {
		  width: 100%;
			margin: 0 0 15px 0;
		  padding: 5px;
		}

		#restaurants-list li a {
		  display: block;
		  margin: 0;
		  max-width: 100%;
			border:none;
		}

		.inside #map-container {
			height: 300px;
	  	top: 135px;
			width: 100%;
			position:relative;
			z-index: 1;
		}

		.inside #footer {
			width: 100%;
		}

		#restaurant-name {
			font-size: 20pt;
			font-weight: 200;
			margin-top: 65px ;
		}

		#restaurant-container, #reviews-container {
			width: 100%;
			padding: 140px 0px 30px;
		}
		#breadcrumb {
				width: 100%;
		}

		#restaurant-cuisine {
			width: 100%;
		}

		#restaurant-img {
			width: 100%;
		}
}
/*Tablet */
@media screen and (min-width: 426px) and (max-width: 768px) {

			nav h1 a {
				font-size: 35pt;
			}
			nav{
				height:70px;
			}
			/* ====================== Restaurant Filtering ====================== */
			.filter-options {
				height: 165px;
				display:flex;
				flex-direction: column;
			}
			.filter-options h2 {
				font-size: 1.5rem;
				font-weight: 200;
				line-height: 1.5;
				white-space: nowrap;
			}
			.filter-options select {
				height: 40px;
				width: 90%;
			}

			#restaurants-list li h1 {
			  font-size: 20pt;
			}
			#restaurants-list li {
			  width: 100%;
				margin: 0 0 15px 0;
			  padding: 5px;
			}

			#restaurants-list li a {
			  display: block;
			  margin: 0;
			  max-width: 100%;
				border:none;
			}

			.inside #map-container {
				height: 300px;
		  	top: 135px;
				width: 100%;
				position:relative;
				z-index: 1;
			}

			.inside #footer {
				width: 100%;
			}

			#restaurant-name {
				font-size: 30pt;
				font-weight: 200;
				margin-top: 65px ;
				text-align:center;
			}

			#restaurant-container, #reviews-container {
				width: 100%;
				padding: 140px 0px 30px;
			}
			#breadcrumb {
					width: 100%;
			}

			#restaurant-cuisine {
				width: 100%;
				font-size:30px;
			}

			#restaurant-img {
				width: 100%;
			}

			#restaurant-address {
				text-align:center;
				font-weight:500;
				font-size:24px;
			}

			#restaurant-container table td {
				font-size:18px;
			}
			#restaurant-container table {
				padding-left:24%;
			}

			#reviews-list p {
				font-size:15pt;
				margin:0 0 0 50px;
			}

			#reviews-list {
				margin:0 0 0 50px;
			}
			#reviews-container h2 {
		    font-size: 30pt;
		    text-align: center;
			}
}
/*Laptop */
@media screen and (min-width: 769px) and (max-width: 1024px) {
	nav h1 a {
	  font-size: 50pt;
	}
	nav{
		height: 100px;
	}
	/* ====================== Restaurant Filtering ====================== */
	.filter-options {
		display:flex;
	}
	.filter-options h2 {
	  font-size: 1.5rem;
	  font-weight: 200;
	  line-height: 1.5;
	}
	.filter-options select {
	  background-color: white;
	  border: 1px solid #fff;
	  font-family: Arial,sans-serif;
	  font-size: 11pt;
	  height: 40px;
	  letter-spacing: 0;
	  margin: 10px;
	  padding: 0 10px;
	  width: 200px;
	}
	#reviews-list li {
		width: 75%;
	}
	#reviews-container h2 {
    text-align: center;
		margin-left: -85px;
		font-size: 36pt;
	}
	#restaurant-name {
    font-size: 36pt;
    text-align: center;
		margin-left: -60px;
	}
	.inside #map-container {
    height: 83%;
    top: 100px;
	}
}
/*Laptop L */
@media screen and (min-width: 1025px) {
	nav h1 a {
		font-size: 50pt;
	}
	nav{
		height: 100px;
	}
	/* ====================== Restaurant Filtering ====================== */
	.filter-options {
		display:flex;
	}
	.filter-options h2 {
		font-size: 1.5rem;
		font-weight: 200;
		line-height: 1.5;
	}
	.filter-options select {
		background-color: white;
		border: 1px solid #fff;
		font-family: Arial,sans-serif;
		font-size: 11pt;
		height: 40px;
		letter-spacing: 0;
		margin: 10px;
		padding: 0 10px;
		width: 200px;
	}
	#reviews-list li {
		width: 75%;
	}
	#reviews-container h2 {
		text-align: center;
		margin-left: -85px;
		font-size: 36pt;
	}
	#restaurant-name {
		font-size: 36pt;
		text-align: center;
		margin-left: -60px;
	}
	.inside #map-container {
		height: 100%;
		top: 100px;
	}
}
